body{
    background-color: #181b24;
    display: flex;
    min-height: 100vh;

    align-items: center;
    justify-content: center;

    font-family: "Open-sans", Geneva, Tahoma, sans-serif;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

button{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #282828;

    margin: 4px;
    background-color: #282B33;
    color: #FBFCFC;
    font-size: 24px;
    font-weight: 700;
}

button:hover{
    background-color: #35363b
}
button:active{
    background-color:#626468;
}

.divCalculator{
    display: flex;
    width: 350px;
    height: 600px;

    flex-direction: column;

    border-radius: 30px;
    background-color: #22252D;
    padding-top: 36px;

    justify-content: center;
    border: 2px solid #E78386;
}
.divResult{
    background-color: #22252D;
    display: flex;
    width: 350px;
    height: 100px;

    flex-direction: column;
    color: #FBFCFC;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 0;

    box-sizing: border-box; /*Add padding to width*/
}


.divResult h2{
    margin: 0;
    
    text-align: right;

    outline: 1 solid red;
    overflow: hidden;
    
}

.txtResult{
    margin-top: 1px;
    font-size: 68px;
    font-weight: 900;
    text-align: right;
    background-color: #22252D;
    border: 0 none;

    color: #FBFCFC;
}

.txtResult:focus{
    outline: none;
}

.txtHistory{
    font-size: 20px;
    font-weight: 400;
    min-height: 32px;
    margin-bottom: 1px;
    color: #bebebe;
}

.divButtons{
    background-color: #2A2D37;
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    padding-top: 0px;
    
    border-radius: 30px;
   
    height: 600px;

}


.btnEquals{
    height: 148px;
    background-color: #292f3d;
}

.btnEquals, .btnSubtract, .btnAdd, .btnMultiply, .btnDivide, .btnAC, .btnDelete{
    color: #E78386;
}


/*
graybg: #EEEEEE;
Darkmode color:
top - #22252D
bottom - #2A2D37
button - #282B33
operator-txt - #E78386
white-txt - #FBFCFC

*/